.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 20%;
}

.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover{
    background-color:#000000;
    color: #fff;
}

.pagination .active{
    background-color: #000000;
    color: white;
}

.pagination-content{
    display: flex;
    flex-wrap: wrap;
    padding-left: 3px;
    margin-top: 30px;
    gap: 10px;
    width: 940px;
    min-height: 100vh;
}
