.all-articles{
    display: flex;
    flex-direction: column;
    width: 940px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.all-articles__header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
}

.all-articles__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-articles__search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    height: 30px;
    width: 353px;
}

.all-articles__search input{
    width: 293px;
    height: 44px;
    border-radius: 8px;
    padding: 10px;
    color: #000000;
    background: #ffffff;
    outline: none;
    border: none;
}

.all-articles__title{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}

.all-articles-content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
}

