.all-quizzes-container{
    width: 940px;
    min-height: 100vh;
    margin: 0 auto;
}

.all-quizzes__btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.all-quizzes-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.quiz-NavLink{
    text-decoration: none;
    color: black;
}